apiVersion: v1
kind: Pod
spec:
  tolerations:
    - effect: NoSchedule
      key: hub.jupyter.org/dedicated
      operator: Equal
      value: executor
    - effect: NoSchedule
      key: hub.jupyter.org_dedicated
      operator: Equal
      value: executor